<html>

<head>
    <title>Processamento em Tempo Real</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='processa.js')}}"></script>
</head>

<body>
    <h2>Processamento em Tempo Real</h2>
    
    <label for="movimentacao">Movimentação: </label>
    <textarea rows=6 cols=25 name="movimentacao"></textarea>
    <label for="inicial">Inicial: </label>
    <textarea rows=6 cols=25 id="inicial"></textarea>
    <label for="processo">Processo: </label>
    <textarea rows=6 cols=25 id="processo"></textarea>
    <label for="sentenca">Sentença: </label>
    <textarea rows=6 cols=25 id="sentenca"></textarea>

</body>

</html>